{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="content">
             <div class="columns is-centered">
                <div class="column is-three-fifths-tablet">
                <h2>Laat een reactie achter voor {{ post.title }}</h2>

                    {% if form.errors %}
                    <div class="notification is-danger">
                        Let op: er ging iets niet goed
                    </div>
                    {% endif %}

                    <form action="{% url 'process_form' pk=post.pk %}" method="POST">
                        {% csrf_token %}

                        <div class="field">
                            <label class="label">{{ form.comment.label_tag}}</label>
                            <div class="control">
                                {{ form.comment }}
                            </div>
                            {% if form.comment.errors %}
                                {% for error in form.comment.errors %}
                                    <p class="has-text-danger">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="button is-link" type="submit" value="Plaats reactie">
                            </div>
                        </div>
                    </form>
                </div>
             </div>
        </div>
    </div>
</section>
{% endblock content %}