{% extends "base.html" %}
{% load categories %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">{{ post.title }}</h1>

            <div class="columns">
                <div class="column is-three-fifths-tablet">
                    <p class="subtitle">{{ post.publish_date }} | {{ post.author }}
                        {% if post.category %}
                            | {{ post.category.title }}
                        {% endif %}
                    </p>

                    <div class="content">
                        {{ post.body }}

                        <hr/>
                        <a class="button" href="{% url 'add_comment' pk=post.pk %}">Geef reactie</a>
                        <hr/>

                        {% comment %}
                            post.comments.all mogelijk door related_name toe toe voegen aan ForeignKey.
                            Anders konden we de reviews benaderen met post.comment_set.all
                        {% endcomment %}
                        {% for comment in post.approved_comments %}
                            {% include "blog/_comment.html" %}
                        {% endfor %}
                    </div>
                </div>

                <div class="column">
                    {% show_categories %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}