{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">{{ post.title }}</h1>
            <p class="subtitle">{{ post.publish_date }} | {{ post.author }}
                {% if post.category %}
                    | {{ post.category.title }}
                {% endif %}
            </p>
            <div class="content">
                {{ post.body }}
            </div>
        </div>
    </section>
{% endblock content %}